@font-face {
    font-family: 'KaushanScript-Regular';
    src: url('fonts/KaushanScript-Regular.otf') format('truetype');
}

/* Corps principal */

body {
  font-family: Arial, sans-serif, 'Trebuchet MS';
  background-image: url("images/background4.jpg");
  background-size: cover; 
}

#bloc_page
{
  margin: auto;
  display: flex;
  border-radius: 5px;
}

#deco_left
{
  flex:0.5;
  background-color: rgb(56,56,56);
  border-radius: 5px;
}

#page_principal
{
  flex: 4;
  padding-left: 10px
}

#backgroud
{
  opacity: 0.4
}

/* Header */

header
{
  display: flex;
}

#titre_principal
{
  flex: 0.8;
  margin: auto; /*pour centrer le titre*/
}

#titre_photo
{
  flex: 0.2;
  text-align: center;
  margin: auto; /*pour centrer la photo*/
}

#photo_drdenfer
{
  border: 3px black groove;
  box-shadow: 6px 6px 12px black;
  height: 100px;
}

h1
{
  text-shadow: 1px 1px 1px black;
}

h1, h2
{
  font-family: KaushanScript-Regular, sans-serif;
}

h1, h1+p
{
  text-align: center;
}

h1+p
{
  font-weight: bold;
}

/* Section */

h2
{
  color: maroon;
  display: flex; /* Aligne l'icone et le texte */
}

article
{
  display: flex;
  justify-content: center;
}

article div
{
  flex: 1;
  margin: 10px;
}