@font-face {
    font-family: 'KaushanScript-Regular';
    src: url('fonts/KaushanScript-Regular.otf') format('truetype');
}
body
{
  background: url("images/background.jpg") fixed repeat;
}
h1
{
  text-shadow: 1px 1px 1px black;
}
h1, h2
{
  font-family: KaushanScript-Regular, sans-serif;
}
h1+p
{
  text-align: center;
}
h2
{
  color: maroon;
}
.presentation
{
  border: 1px black solid;
}
.drdenfer
{
  transform: scale(0.8);
  border: 3px black groove;
  box-shadow: 6px 6px 12px black;
  float: right;
}
